/* You can add global styles to this file, and also import other style files */
@import "app/scss/variables";
@import "app/scss/form-control";

html,
body {
  margin: 0;
}

body {
  font-family: 'Open Sans', sans-serif;
}

p {
  margin: 0;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 60px 10px;
}

.title {
  margin: 0;
  color: $color-title;
}


.link {
  font-size: 15px;
  color: #282828;
  text-decoration: none;

  &:hover {
    color: #e53c35 !important;
  }

  &:not(:last-child) {
    margin-right: 20px
  }
}
