/* You can add global styles to this file, and also import other style files */
@import "app/scss/variables";

html,
body {
  margin: 0;
}

body {
  font-family: 'Open Sans', sans-serif;
}

p {
  margin: 0;
}

input,
button {
  &:focus {
    outline: none;
  }
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 60px 10px;
}

.title {
  margin: 0;
  color: $color-title;
}

.button-link {
  width: 305px;
  height: 65px;
  margin-bottom: 70px;
  border: none;
  border-radius: 50px;
  font-weight: 400;
  font-size: 20px;
  color: $color-title;
  background-color: $color-button;
  box-shadow: 0 10px 20px rgba(36,42,47,0.35);

  &:hover {
    background-color: $color-button-focus;
  }

  &:focus {
    outline: none;
  }
}

.link {
  font-size: 15px;
  color: #282828;
  text-decoration: none;

  &:hover {
    color: #e53c35 !important;
  }

  &:not(:last-child) {
    margin-right: 20px
  }
}
