.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;

  .logo {
    max-width: 200px;
    width: 100%;
    height: 25px;
    text-indent: -99999px;
    background: url("~src/assets/images/logo.png") center no-repeat;
  }

  .logo,
  .link {
    &:focus {
      outline: none;
    }
  }

  .main-menu {
    .link {
      font-size: 15px;
      color: #282828;
      text-decoration: none;

      &:hover {
        color: #e53c35;
      }
    }

    .link:not(:last-child) {
      margin-right: 20px
    }
  }
}
