<header class="header">
  <div class="container">
    <div class="job-search">
      <input class="search" type="text" placeholder="Введите ключевые слова">
      <button class="search-button" type="button">Поиск вакансий</button>
    </div>
    <p class="search-example">
      Например:
      <span class="example">Бетонщик, Сварщик</span>
    </p>
  </div>
</header>
<section class="job-opening">
  <div class="container">
    <aside class="filters">

    </aside>
    <main class="jobs">
      <div class="job-card">
        <div class="about-job">
          <h4 class="title">РАБОТНИК НА ФЕРМУ</h4>
          <p class="subtitle">Сельское хозяйство и садовничество</p>
          <div class="tag-container">
            <div class="tag">Сельхозрабочий /Работник на ферму</div>
          </div>
          <p class="requirements">Требования: Срочно на ферму с коровами Lapy (недалеко от Bialostoka)требуются мужчина
            работник для выполнения несложных обязанностей по кормлению и уборке на ферме с коровами и бычками .Желательно
            умение ездить на тракторе, но не обязательно. Оплата 3000 злотых в месяц плюс бесплатное питание и
            проживание.Своевременная оплата,хорошая хозяйка.</p>
          <div class="condition-container">
            <div class="condition condition-employment">Постоянная работа</div>
            <div class="condition condition-language">Не требуется знание языка</div>
            <div class="condition condition-eat">Предоставляем питание</div>
            <div class="condition condition-housing">Предоставляем жилье</div>
            <div class="condition condition-international-passport">Только с рабочей визой</div>
            <div class="condition condition-experience">Предоставляем жилье</div>
          </div>
          <div class="gender">gender</div>
        </div>
        <div class="employer">
          <div class="payment-per-hour"></div>
          <div class="payment-per-month"></div>
          <div class="employer-information">
            <div class="employer-logo"></div>
            <div class="employer-name"></div>
            <div class="employer-address"></div>
          </div>
        </div>
      </div>
    </main>
  </div>
</section>
