<header class="header">
  <div class="container">
    <div class="job-search">
      <input [(ngModel)]="searchValue" class="search" type="text" placeholder="Введите ключевые слова">
      <button class="search-button" type="button" (click)="searchByWords(searchValue)">Поиск вакансий</button>
    </div>
    <p class="search-example">
      Например:
      <span class="example">Бетонщик, Сварщик</span>
    </p>
  </div>
</header>
<section class="job-opening">
  <div class="container">
    <aside class="filters">
      <app-job-filters (jobFiltering)="jobFiltering($event)"></app-job-filters>
    </aside>
    <main class="jobs">
      <app-job-card *ngFor="let jobCar of jobCardList"
                    [jobCard]="jobCar"></app-job-card>
    </main>
  </div>
</section>
