<section class="entry">
  <div class="container">
    <h1 class="title">
      <strong>Легальная работа</strong>
      <br>
      в Польше без посредников
    </h1>
    <button class="button-link" type="button">Вакансии</button>
    <div class="statistic">
      <div class="statistic-item">
        <div class="item-title">500+</div>
        <div class="item-subtitle">горящих <b>бесплатных</b> вакансий</div>
      </div>
      <div class="statistic-item">
        <div class="item-title">200+</div>
        <div class="item-subtitle"><b>проверенных</b> работодателей из Польши</div>
      </div>
      <div class="statistic-item">
        <div class="item-title">1000+</div>
        <div class="item-subtitle"><b>украинцев</b> уже нашли себе работ</div>
      </div>
    </div>
  </div>
</section>
<section class="benefits">
  <div class="container">
    <div class="benefits-list">
      <div class="benefits-item">
        <div class="benefits-icon like"></div>
        <p class="benefits-title">
          <b>Мы НЕ агентство</b>
          - для Вас все совершенно БЕСПЛАТНО
        </p>
      </div>
      <div class="benefits-item">
        <div class="benefits-icon suitcase"></div>
        <p class="benefits-title">
          <b>Официальная работа</b>
          только от
          <b>проверенных</b>
          польских работодателей
        </p>
      </div>
      <div class="benefits-item">
        <div class="benefits-icon worker"></div>
        <p class="benefits-title">
          <b>Всего за час</b>
          вы можете найти подходящую вакансию и
          <b>договориться о работе</b>
        </p>
      </div>
    </div>
  </div>
</section>
<section class="how-it-work">
  <div class="container">
    <h1 class="title">Как это работает</h1>

    <div class="how-it-work-list">
      <div class="list-item">
        <div class="item-icon"></div>
        <div class="item-title">Размещайте свою анкету на сайте и получайте приглашения на работу от польских работодателей</div>
      </div>
      <div class="list-item">
        <div class="item-icon"></div>
        <div class="item-title">Выбирайте наиболее подходящее предложение от проверенных работодателей</div>
      </div>
      <div class="list-item">
        <div class="item-icon"></div>
        <div class="item-title">Утверждайте детали с работодателем и езжайте на работу.</div>
      </div>
    </div>
  </div>
</section>
<section class="popular-categories">
  <div class="container">
    <h1 class="title">Популярные рубрики</h1>

    <div class="categories-container">
      <div class="category-item" *ngFor="let category of categories">
        <img [alt]="category.title" [src]="category.imageSource">
        <p class="category-title">{{category.title}}</p>
      </div>
    </div>
  </div>
</section>
<section class="types-of-jobs">
  <div class="container">
    <h1 class="title">Популярные сферы</h1>

    <div class="jobs-container">
      <div class="job-item" *ngFor="let job of typeOfJobs">
        <img [alt]="job.title" [src]="job.imageSource">
        <p class="job-title">{{job.title}}</p>
      </div>
    </div>
  </div>
</section>
<section class="occupation">
  <div class="container">
    <h1 class="title">Популярные специальности</h1>

    <div class="occupation-container">
      <div class="occupation-item" *ngFor="let occupationItem of occupation">
        <img [alt]="occupationItem.title" [src]="occupationItem.imageSource">
        <p class="occupation-title">{{occupationItem.title}}</p>
        <div class="arrow-icon"></div>
      </div>
    </div>
  </div>
</section>
