<section class="entry">
  <div class="container">
    <h1 class="title">
      <strong>Легальная работа</strong>
      <br>
      в Польше без посредников
    </h1>
    <button routerLink="/job-opening" class="button-link" type="button">Вакансии</button>
    <div class="statistic">
      <div class="statistic-item">
        <div class="item-title">500+</div>
        <div class="item-subtitle">горящих <b>бесплатных</b> вакансий</div>
      </div>
      <div class="statistic-item">
        <div class="item-title">200+</div>
        <div class="item-subtitle"><b>проверенных</b> работодателей из Польши</div>
      </div>
      <div class="statistic-item">
        <div class="item-title">1000+</div>
        <div class="item-subtitle"><b>украинцев</b> уже нашли себе работ</div>
      </div>
    </div>
  </div>
</section>
<section class="benefits">
  <div class="container">
    <div class="benefits-list">
      <div class="benefits-item">
        <div class="benefits-icon like"></div>
        <p class="benefits-title">
          <b>Мы НЕ агентство</b>
          - для Вас все совершенно БЕСПЛАТНО
        </p>
      </div>
      <div class="benefits-item">
        <div class="benefits-icon suitcase"></div>
        <p class="benefits-title">
          <b>Официальная работа</b>
          только от
          <b>проверенных</b>
          польских работодателей
        </p>
      </div>
      <div class="benefits-item">
        <div class="benefits-icon worker"></div>
        <p class="benefits-title">
          <b>Всего за час</b>
          вы можете найти подходящую вакансию и
          <b>договориться о работе</b>
        </p>
      </div>
    </div>
  </div>
</section>
<section class="how-it-work">
  <div class="container">
    <h1 class="title">Как это работает</h1>

    <div class="how-it-work-list">
      <div class="list-item">
        <div class="item-icon"></div>
        <div class="item-title">Размещайте свою анкету на сайте и получайте приглашения на работу от польских работодателей</div>
      </div>
      <div class="list-item">
        <div class="item-icon"></div>
        <div class="item-title">Выбирайте наиболее подходящее предложение от проверенных работодателей</div>
      </div>
      <div class="list-item">
        <div class="item-icon"></div>
        <div class="item-title">Утверждайте детали с работодателем и езжайте на работу.</div>
      </div>
    </div>
  </div>
</section>
<section class="popular-categories">
  <div class="container">
    <h1 class="title">Популярные рубрики</h1>

    <div class="categories-container">
      <div class="category-item" *ngFor="let category of categories">
        <img [alt]="category.title" [src]="category.imageSource">
        <p class="category-title">{{category.title}}</p>
      </div>
    </div>
  </div>
</section>
<section class="types-of-jobs">
  <div class="container">
    <h1 class="title">Популярные сферы</h1>

    <div class="jobs-container">
      <div class="job-item" *ngFor="let job of typeOfJobs">
        <img [alt]="job.title" [src]="job.imageSource">
        <p class="job-title">{{job.title}}</p>
      </div>
    </div>
  </div>
</section>
<section class="occupation">
  <div class="container">
    <h1 class="title">Популярные специальности</h1>

    <div class="occupation-container">
      <div class="occupation-item" *ngFor="let occupationItem of occupation">
        <img [alt]="occupationItem.title" [src]="occupationItem.imageSource">
        <p class="occupation-title">{{occupationItem.title}}</p>
        <div class="arrow-icon"></div>
      </div>
    </div>

    <button routerLink="/job-opening" class="button-link" type="button">Смотреть все вакансии</button>
  </div>
</section>
<section class="work-abroad">
  <div class="container">
    <h1 class="title">Работа за границей без посредников 2019</h1>

    <p>Давно мечтаете уехать в Польшу на заработки, но не знаете каким способом проще всего это сделать? Неоднократно каждый эмигрант слышал про услуги кадровых агентств по трудоустройству и о поиске работы за рубежом. Многие обращались к ним, но какая-то часть поняла, что по тем или иным условиям хочется выйти на прямого работодателя и обсуждать все условия работы за границей непосредственно с ним. Самой важной причиной, наверное, является желание сэкономить деньги и не платить кадровым агентствам, как посредникам. Так вот, где же можно быстро и просто найти работу в Польше от прямого работодателя?</p>
    <p>Мы подготовили для вас идеальный вариант. Первым шагом нужно зайти на сайт https://razem.work/. Это популярная площадка, которая помогает найти работу в Польше для украинцев без участия каких-либо посредников. Ведь легальная работа - это первое, что мы можем гарантировать для нашего посетителя. Достаточно только желания, а мы вам во всем поможем.</p>
    <p>Итак, какие шаги нужно пройти для того, чтобы прийти к желаемому результату:</p>
    <ul>
      <li>первый шаг к успеху начинается с прохождения регистрации у нас на сайте, заполнив анкету;</li>
      <li>после этого мы предлагаем пройти 2 пути: это ожидание того момента, когда работодатель увидит ваше резюме и напрямую сам вам напишет или же просматривать подходящие для себя вакансии и отправлять свое резюме;</li>
      <li>после подбора потенциального работодателя наступает этап диалога. Вести общение о работе за границей можно в любом популярном мессенджере;</li>
      <li>после этого наступает следующий этап - сбор всех необходимых документов для эмиграции за рубеж;</li>
      <li>и конечно же ждет финальный этап - официальная работа.</li>
    </ul>
    <p>Все предельно просто и доступно каждому. Работа за границей для украинцев без посредников благодаря Razem.work стала доступной, а ее поиски легкими и интересными. На сегодняшний день на сайте о поиске работы в Польше размещено более 500 горящих объявлений. Это говорит о нашей популярности и о том, что Razem.work - это портал поиска работы в Польше №1.</p>
    <p>Есть такие люди, которые просто боятся искать работу в Польше без посредников и готовы тратить много времени, денег и сил для трудоустройства через кадровые агентства. Но мы меняем эти стереотипы и смело говорим, что на нашем сайте размещаются более 200 проверенных работодателей. Именно благодаря такой большой базе трудоустройство легально - это возможность поменять свою жизнь в лучшую сторону. И мы с радостью готовы озвучить наши показатели, а они немалые - более 1000 украинцев смогли найти работу в Польше без посредников. Это и есть наша гордость и радость за нашего соотечественника.</p>
    <p>Если же вбить в поисковике “ищу работу в Польше без посредников”, так можно найти сайты поиска работы в Польше. Большинство их них относятся к тем, которые работают именно на базе кадрового агентства и предлагают абсолютно немыслимые условия сотрудничества. А если говорить о работе в Польше по безвизу, так вообще большинство из них даже не берутся помогать в изготовлении всех необходимых документов. А ведь ещё не так давно работа в Польше без визы была строго запрещена законами страны. Но что же тогда делать, если не знаете как правильно их оформить и куда вообще бежать? Для этого и существует наш портал, который помогает совершенно бесплатно соединить польского работодателя и украинского сотрудника. Работодатель в данном случае поможет правильно оформить выезд за короткий промежуток времени. Ведь официальная работа для украинцев - это именно тот случай, благодаря которому можно легально попасть в Европу.</p>
    <p>Рассказав о всех преимуществах популярного сайта поиска работы в Польше, получить долгожданную работу можно за очень короткий промежуток времени, безопасно и главное без лишних дополнительных растрат. Работа с сайтом предельно проста, благодаря чему найти работу в Польше для украинцев - это реальность. Не стоит бояться перемен. Особенно, если у вас такая специальность, как строитель, уборщица, няня, официант, сварщик, разнорабочий, повар или программист. Работа от работодателя ждет вас на сайте https://razem.work/.</p>
  </div>
</section>
