<div class="job-card">
  <div class="about-job">
    <div class="main-information">
      <h4 class="title">{{jobCard.title}}</h4>
      <p class="subtitle">{{jobCard.subtitle}}</p>
      <div class="tag-container" *ngFor="let tag of jobCard.tags">
        <div class="tag">{{tag}}</div>
      </div>
      <p class="requirements">{{jobCard.requirements}}</p>
    </div>
    <div class="employer">
      <div class="payment-per-hour">{{jobCard.employer.paymentPerHour}}</div>
      <div class="payment-per-month">{{jobCard.employer.paymentPerMonth}}</div>
      <div class="employer-information">
        <div class="employer-logo">
          <img src="../../../assets/images/job-card/employer-logo.png" alt="Employer logo">
        </div>
        <div class="flex-container">
          <div class="employer-name">{{jobCard.employer.employerName}}</div>
          <div class="employer-address">{{jobCard.employer.employerAddress}}</div>
        </div>
      </div>
    </div>
  </div>
  <div class="condition-container">
    <div *ngFor="let condition of jobCard.conditions"
         class="condition {{condition.conditionType}}">
      {{condition.title}}
    </div>
  </div>
  <div class="gender {{jobCard.gender}}"></div>
</div>
